header {
  height: 400px;
  width: 100%;
  background-color: #aeadc2;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 120px; 
}


/* Desktop formatting */
@media only screen and (min-width: 1024px) {
  header {    
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    margin-top: 150px;
    margin-left: 80px;
  }

}