/* New tweet box */
.new-tweet {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

/* Tweet box input */
#tweet-text {
  width: 100%;
  border-color: #545149;
  background-color: #f4f1ec;
  outline: 0;
  border-width: 0 0 .2rem;
  resize: none;
}


/* button with character count */
.form-inline div {
  font-family: 'Bungee', sans-serif;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section.new-tweet button {
  background-color: #4056A1;
  color: #FFFFFF;
  border: 0;
  padding: .4rem;

}

.counter {
  color: #545149;
}

.negative-counter {
  color: red;
}


/* error message */
div.input-error {
  margin-bottom: 2rem;
  padding: .6rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1rem;
  color: #000000;
  background-color: #fba1a1;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}