/* box around tweets */
.tweets {
  width: 100%;
  margin: 1em;
  border-style: solid;
  border-width: 3px;
  padding: 0.5em;
}

.tweets:hover {
  box-shadow: 4px 4px #aeadc2;
}

/* header banner at top of tweet */
.tweets header {
  height: 50px;
  padding: .7em;
  background-color: #f4f1ec;
  background-image: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.tweet-head-left {
  display: flex;
  flex-direction: row;

}

.username {
  display: flex;
  justify-content: flex-end;
  color: #aeadc2;
}

.fa-dragon {
  padding-right: .7em;
}


/* tweet text and lower border line */
.single-tweet {
  padding: 0 .7em .3em;
  border-style: solid;
  border-width: 0 0 3px;
  font-weight: 600;
}


/* footer elements */
article footer {
  width: 100%;
  padding-left: 1.2em;
  font-size: 0.7em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fa-flag:hover {
  color: #a5af47;
}

.fa-retweet:hover {
  color: #a5af47;
}

.fa-heart:hover {
  color: #d94a4a;
}